
// Colors

$background:		#f2f2f2;
$light-gray:		#f2f2f2;
$medium-gray:		#f2f2f2;
$dark-gray:			#f2f2f2;
$light-blue: 		#333;
$dark-blue: 		#444;
$magenta: 			#f2f2f2;


// Fonts

// $heading-font: 		Times;
// $body-font:			Helvetica;

